@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Prueba de Banreservas</h1>
    <p class="lead">Esta es una prueba por parte del banco Banreservas para Ricardo Bibieca.</p>
</div>